<html>
    <head>
        <title>mySite</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Aqui vai uns desafios fáceis...</a></h1>
        </div>

        <div>
            <p>publicado: 03.09.2018, 13:39</p>
            <h2><a href="">Primeiro desafio!</a></h2>
            <p>Num ninho de mafagafos há sete mafagafinhos. Quando a mafagafa gafa, gafam os sete mafagafinhos.</p>
        </div>

        <div>
            <p>publicado: 03.09.2018, 13:40</p>
            <h2><a href="">Segundo desafio!</a></h2>
            <p>Sabendo o que sei e sabendo o que sabes e o que não sabes e o que não sabemos, ambos saberemos se somos sábios, sabidos ou simplesmente saberemos se somos sabedores.</p>
        </div>
    </body>
</html>
